## Preprocessing

In [75]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [76]:
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [77]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [78]:
# Determine the number of unique values in each column.

application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [79]:
# Look at APPLICATION_TYPE value counts for binning
appType = application_df['APPLICATION_TYPE'].value_counts()
appType

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [80]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(appType[appType>1].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

Other    34298
T17          1
Name: APPLICATION_TYPE, dtype: int64

In [81]:
classification = application_df['CLASSIFICATION'].value_counts()
classification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [82]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classificationCount = classification[classification>1]
classificationCount

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [83]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification[classification<10].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Other       98
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
Name: CLASSIFICATION, dtype: int64

In [84]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T17,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [85]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
y

X = application_df.drop('IS_SUCCESSFUL', axis=1).values
X

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [86]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [87]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train_scaled[0])
hidden_nodes_layer1=60
hidden_nodes_layer2=40
hidden_nodes_layer3=20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_21 (Dense)            (None, 60)                3660

 dense_22 (Dense)            (None, 40)                2440

 dense_23 (Dense)            (None, 1)                 41

=================================================================
Total params: 6,141
Trainable params: 6,141
Non-trainable params: 0
_________________________________________________________________

In [88]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [89]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 2s 2ms/step - loss: 0.6035 - accuracy: 0.6885 - val_loss: 0.5726 - val_accuracy: 0.7072
Epoch 2/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5833 - accuracy: 0.7035 - val_loss: 0.5741 - val_accuracy: 0.7152
Epoch 3/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5793 - accuracy: 0.7064 - val_loss: 0.5698 - val_accuracy: 0.7157
Epoch 4/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5774 - accuracy: 0.7049 - val_loss: 0.5692 - val_accuracy: 0.7147
Epoch 5/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5764 - accuracy: 0.7083 - val_loss: 0.5694 - val_accuracy: 0.7116
Epoch 6/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5755 - accuracy: 0.7102 - val_loss: 0.5707 - val_accuracy: 0.7100
Epoch 7/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5749 - accuracy: 0.7083 - val_loss: 0.5670 - val_accuracy: 0.7165
Epoch 8/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5736 - accuracy: 0.7095 - val_loss: 0.5684 - val_accuracy: 0.7108
Epoch 9/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5728 - accuracy: 0.7094 - val_loss: 0.5672 - val_accuracy: 0.7155
Epoch 10/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5731 - accuracy: 0.7096 - val_loss: 0.5655 - val_accuracy: 0.7150
Epoch 11/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5722 - accuracy: 0.7121 - val_loss: 0.5690 - val_accuracy: 0.7137
Epoch 12/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5719 - accuracy: 0.7120 - val_loss: 0.5662 - val_accuracy: 0.7165
Epoch 13/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5714 - accuracy: 0.7128 - val_loss: 0.5687 - val_accuracy: 0.7126
Epoch 14/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5713 - accuracy: 0.7121 - val_loss: 0.5668 - val_accuracy: 0.7126
Epoch 15/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5706 - accuracy: 0.7139 - val_loss: 0.5690 - val_accuracy: 0.7129
Epoch 16/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5715 - accuracy: 0.7131 - val_loss: 0.5668 - val_accuracy: 0.7147
Epoch 17/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5705 - accuracy: 0.7113 - val_loss: 0.5654 - val_accuracy: 0.7139
Epoch 18/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5697 - accuracy: 0.7131 - val_loss: 0.5663 - val_accuracy: 0.7131
Epoch 19/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5694 - accuracy: 0.7140 - val_loss: 0.5673 - val_accuracy: 0.7147
Epoch 20/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5695 - accuracy: 0.7132 - val_loss: 0.5667 - val_accuracy: 0.7144
Epoch 21/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5691 - accuracy: 0.7126 - val_loss: 0.5672 - val_accuracy: 0.7150
Epoch 22/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5694 - accuracy: 0.7141 - val_loss: 0.5670 - val_accuracy: 0.7134
Epoch 23/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5691 - accuracy: 0.7140 - val_loss: 0.5670 - val_accuracy: 0.7134
Epoch 24/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5689 - accuracy: 0.7142 - val_loss: 0.5682 - val_accuracy: 0.7087
Epoch 25/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5685 - accuracy: 0.7147 - val_loss: 0.5685 - val_accuracy: 0.7160
Epoch 26/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5678 - accuracy: 0.7151 - val_loss: 0.5673 - val_accuracy: 0.7155
Epoch 27/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5680 - accuracy: 0.7146 - val_loss: 0.5654 - val_accuracy: 0.7152
Epoch 28/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5676 - accuracy: 0.7143 - val_loss: 0.5662 - val_accuracy: 0.7175
Epoch 29/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5680 - accuracy: 0.7140 - val_loss: 0.5646 - val_accuracy: 0.7181
Epoch 30/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5678 - accuracy: 0.7142 - val_loss: 0.5664 - val_accuracy: 0.7162
Epoch 31/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5673 - accuracy: 0.7161 - val_loss: 0.5681 - val_accuracy: 0.7157
Epoch 32/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5669 - accuracy: 0.7156 - val_loss: 0.5671 - val_accuracy: 0.7165
Epoch 33/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5672 - accuracy: 0.7156 - val_loss: 0.5675 - val_accuracy: 0.7160
Epoch 34/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5664 - accuracy: 0.7153 - val_loss: 0.5656 - val_accuracy: 0.7181
Epoch 35/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5667 - accuracy: 0.7153 - val_loss: 0.5684 - val_accuracy: 0.7157
Epoch 36/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5666 - accuracy: 0.7137 - val_loss: 0.5664 - val_accuracy: 0.7157
Epoch 37/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5666 - accuracy: 0.7153 - val_loss: 0.5657 - val_accuracy: 0.7155
Epoch 38/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5666 - accuracy: 0.7162 - val_loss: 0.5660 - val_accuracy: 0.7183
Epoch 39/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5657 - accuracy: 0.7155 - val_loss: 0.5673 - val_accuracy: 0.7168
Epoch 40/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5655 - accuracy: 0.7170 - val_loss: 0.5667 - val_accuracy: 0.7165
Epoch 41/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5656 - accuracy: 0.7162 - val_loss: 0.5714 - val_accuracy: 0.7173
Epoch 42/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5660 - accuracy: 0.7157 - val_loss: 0.5645 - val_accuracy: 0.7173
Epoch 43/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5651 - accuracy: 0.7168 - val_loss: 0.5695 - val_accuracy: 0.7162
Epoch 44/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5652 - accuracy: 0.7168 - val_loss: 0.5670 - val_accuracy: 0.7162
Epoch 45/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5657 - accuracy: 0.7171 - val_loss: 0.5685 - val_accuracy: 0.7160
Epoch 46/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5653 - accuracy: 0.7160 - val_loss: 0.5680 - val_accuracy: 0.7147
Epoch 47/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5652 - accuracy: 0.7161 - val_loss: 0.5670 - val_accuracy: 0.7168
Epoch 48/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5647 - accuracy: 0.7153 - val_loss: 0.5685 - val_accuracy: 0.7160
Epoch 49/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5644 - accuracy: 0.7170 - val_loss: 0.5687 - val_accuracy: 0.7196
Epoch 50/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5648 - accuracy: 0.7170 - val_loss: 0.5672 - val_accuracy: 0.7173
Epoch 51/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5641 - accuracy: 0.7156 - val_loss: 0.5694 - val_accuracy: 0.7168
Epoch 52/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5643 - accuracy: 0.7170 - val_loss: 0.5701 - val_accuracy: 0.7170
Epoch 53/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5648 - accuracy: 0.7165 - val_loss: 0.5692 - val_accuracy: 0.7168
Epoch 54/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5642 - accuracy: 0.7168 - val_loss: 0.5684 - val_accuracy: 0.7137
Epoch 55/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5639 - accuracy: 0.7170 - val_loss: 0.5676 - val_accuracy: 0.7170
Epoch 56/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5642 - accuracy: 0.7162 - val_loss: 0.5674 - val_accuracy: 0.7157
Epoch 57/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5638 - accuracy: 0.7168 - val_loss: 0.5682 - val_accuracy: 0.7155

Epoch 58/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5642 - accuracy: 0.7164 - val_loss: 0.5692 - val_accuracy: 0.7160
Epoch 59/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5635 - accuracy: 0.7174 - val_loss: 0.5725 - val_accuracy: 0.7181
Epoch 60/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5639 - accuracy: 0.7151 - val_loss: 0.5683 - val_accuracy: 0.7155
Epoch 61/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5639 - accuracy: 0.7175 - val_loss: 0.5679 - val_accuracy: 0.7150
Epoch 62/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5638 - accuracy: 0.7172 - val_loss: 0.5692 - val_accuracy: 0.7168
Epoch 63/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5636 - accuracy: 0.7166 - val_loss: 0.5674 - val_accuracy: 0.7183
Epoch 64/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5634 - accuracy: 0.7164 - val_loss: 0.5673 - val_accuracy: 0.7168
Epoch 65/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5632 - accuracy: 0.7168 - val_loss: 0.5681 - val_accuracy: 0.7155
Epoch 66/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5635 - accuracy: 0.7174 - val_loss: 0.5686 - val_accuracy: 0.7157
Epoch 67/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5631 - accuracy: 0.7168 - val_loss: 0.5676 - val_accuracy: 0.7157
Epoch 68/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5631 - accuracy: 0.7183 - val_loss: 0.5690 - val_accuracy: 0.7147
Epoch 69/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5629 - accuracy: 0.7190 - val_loss: 0.5706 - val_accuracy: 0.7168
Epoch 70/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5633 - accuracy: 0.7171 - val_loss: 0.5678 - val_accuracy: 0.7173
Epoch 71/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5626 - accuracy: 0.7161 - val_loss: 0.5707 - val_accuracy: 0.7152
Epoch 72/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5634 - accuracy: 0.7176 - val_loss: 0.5703 - val_accuracy: 0.7147
Epoch 73/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5631 - accuracy: 0.7171 - val_loss: 0.5695 - val_accuracy: 0.7160
Epoch 74/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5626 - accuracy: 0.7176 - val_loss: 0.5693 - val_accuracy: 0.7173
Epoch 75/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5628 - accuracy: 0.7163 - val_loss: 0.5688 - val_accuracy: 0.7157
Epoch 76/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5625 - accuracy: 0.7176 - val_loss: 0.5686 - val_accuracy: 0.7157
Epoch 77/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5622 - accuracy: 0.7174 - val_loss: 0.5717 - val_accuracy: 0.7157
Epoch 78/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5629 - accuracy: 0.7165 - val_loss: 0.5674 - val_accuracy: 0.7175
Epoch 79/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5627 - accuracy: 0.7164 - val_loss: 0.5689 - val_accuracy: 0.7186
Epoch 80/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5624 - accuracy: 0.7179 - val_loss: 0.5703 - val_accuracy: 0.7152
Epoch 81/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5623 - accuracy: 0.7178 - val_loss: 0.5687 - val_accuracy: 0.7168
Epoch 82/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5621 - accuracy: 0.7181 - val_loss: 0.5691 - val_accuracy: 0.7162
Epoch 83/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5623 - accuracy: 0.7174 - val_loss: 0.5687 - val_accuracy: 0.7178
Epoch 84/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5621 - accuracy: 0.7176 - val_loss: 0.5690 - val_accuracy: 0.7155
Epoch 85/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5621 - accuracy: 0.7176 - val_loss: 0.5687 - val_accuracy: 0.7162
Epoch 86/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5620 - accuracy: 0.7169 - val_loss: 0.5718 - val_accuracy: 0.7147
Epoch 87/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5619 - accuracy: 0.7174 - val_loss: 0.5707 - val_accuracy: 0.7142
Epoch 88/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5619 - accuracy: 0.7177 - val_loss: 0.5704 - val_accuracy: 0.7175
Epoch 89/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5618 - accuracy: 0.7177 - val_loss: 0.5714 - val_accuracy: 0.7150
Epoch 90/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5617 - accuracy: 0.7174 - val_loss: 0.5707 - val_accuracy: 0.7162
Epoch 91/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5617 - accuracy: 0.7180 - val_loss: 0.5717 - val_accuracy: 0.7152
Epoch 92/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5621 - accuracy: 0.7174 - val_loss: 0.5686 - val_accuracy: 0.7157
Epoch 93/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5611 - accuracy: 0.7179 - val_loss: 0.5720 - val_accuracy: 0.7157
Epoch 94/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5619 - accuracy: 0.7176 - val_loss: 0.5702 - val_accuracy: 0.7155
Epoch 95/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5618 - accuracy: 0.7189 - val_loss: 0.5703 - val_accuracy: 0.7165
Epoch 96/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5616 - accuracy: 0.7166 - val_loss: 0.5737 - val_accuracy: 0.7160
Epoch 97/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5610 - accuracy: 0.7181 - val_loss: 0.5723 - val_accuracy: 0.7175
Epoch 98/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5618 - accuracy: 0.7173 - val_loss: 0.5693 - val_accuracy: 0.7175
Epoch 99/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5613 - accuracy: 0.7184 - val_loss: 0.5705 - val_accuracy: 0.7183
Epoch 100/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5618 - accuracy: 0.7175 - val_loss: 0.5699 - val_accuracy: 0.7168

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5853 - accuracy: 0.7101 - 248ms/epoch - 924us/step
Loss: 0.5852851271629333, Accuracy: 0.7100874781608582

In [74]:
# Export our model to HDF5 file
from google.colab import files

nn.save('/content/AlphabetSoupCharity_Optimization.h5')
files.download('/content/AlphabetSoupCharity_Optimization.h5')

ModuleNotFoundError: No module named 'google.colab'